<ion-content [fullscreen]="true">
	<ion-header class="ion-no-border">
		<ion-toolbar>
			<ion-buttons slot="primary">				
				<ion-button (click)="openModal()">
					<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-buttons slot="secondary">
				<ion-button color="danger" (click)="showArchived = !showArchived">
					<ion-badge color="danger"> {{ getArchivedCount() }} </ion-badge>
					<ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
				</ion-button>
			</ion-buttons>
			<ion-title> Counter </ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let counter of allCounters; let i = index" [ngStyle]="{'display' : counter.isArchived && !showArchived ? 'none' : 'block'}">
				<ion-card>
					<ion-card-header class="display-card-header">
						<ion-card-subtitle class="display-card-subtitle"> {{ counter.name }} </ion-card-subtitle>
						<ion-card-title class="display-card-title"> {{ getDays(counter.startDate) }} </ion-card-title>
	
						<ion-button *ngIf="!counter.isArchived" color="danger" fill="outline" size="small" (click)="presentAlertToConfirmRelapse(i)">
							<ion-icon slot="start" name="reload-outline"></ion-icon> Relapse ({{ counter.relapseCount }})
						</ion-button>
	
						<ion-button *ngIf="counter.isArchived" color="success" fill="outline" size="small" (click)="retrieveCounter(i)">
							<ion-icon slot="start" name="arrow-undo-outline"></ion-icon> Restore
						</ion-button>						
					</ion-card-header>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>


	<ion-modal [isOpen]="showAddModal">
		<ng-template>
		  <ion-content>

			<ion-header class="ion-no-border">
				<ion-toolbar>
					<ion-buttons slot="primary">
						<ion-button color="danger" (click)="showAddModal = false">
							<ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
						</ion-button>
					</ion-buttons>
					<ion-title> Add New Count </ion-title>
				</ion-toolbar>
			</ion-header>

			<ion-card>
				<ion-card-header>
					<ion-card-subtitle>
						<ion-input placeholder="Enter Counter name" [(ngModel)]="newCounter.name"></ion-input>
					</ion-card-subtitle>
					<ion-card-title>
						<ion-datetime [(ngModel)]="newCounter.startDate"></ion-datetime>
					</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<ion-button color="success" expand="block" (click)="addCounter()">
						<ion-icon slot="start" name="checkmark-outline"></ion-icon> Done
					</ion-button>
				</ion-card-content>
			</ion-card>

		  </ion-content>
		</ng-template>
	</ion-modal>

</ion-content>